body {
  background-color: #e6e8eb;
  font-family: 'Roboto', 'sans-serif';
  font-size: 90%;
}

.container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* padding: 15px; */
  /* gap: 15px; */
}

.div-0,
.div-01,
.div-1,
.div-2,
.div-3 {
  background-color: #0059a9;
  border-radius: 10px;
  padding: 6px;
}
.div-h0,
.div-h1,
.div-h2 {
  text-align: center;
  color: #dddddd;
}

.div-rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

/* .in { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   margin-right: 10px; */
/* } */

input {
  border-radius: 4px;
  border: 1px solid #ccc;
  /* box-sizing: border-box; */
  height: 25px;
  max-width: 100px;
  text-align: right;
  padding: 4px 10px;
}

input::disabled {
  color: black;
}
input::placeholder {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera Hide arrows for number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.tabIn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* p { */
/*   margin: 15px; */
/* } */

.div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.exec {
  background-color: #dddddd;
  border-style: solid;
  border-radius: 5px;
  border-width: 0;
  margin: 10px;
  width: 100%;
  height: 25px;
  font-family: 'Roboto', 'sans-serif';
  cursor: pointer;
  transition-duration: 0.5s;
}
.exec:hover {
  background-color: #00e64d;
}
.exec:active {
  opacity: 0.6;
}

.reset {
  background-color: #dddddd;
  border-style: solid;
  border-radius: 5px;
  border-width: 0;
  margin: 10px;
  width: 100%;
  height: 25px;
  font-family: 'Roboto', 'sans-serif';
  cursor: pointer;
  transition-duration: 0.5;
}
.reset:hover {
  background-color: #ff4d4d;
}
.reset:active {
  opacity: 0.6;
}
.content-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}
table {
  font-family: 'Roboto', sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: center;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
